:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: aliceblue;
}

form {
  width: fit-content;
  padding: 20px;
  background-color: white;
  border-radius: 25px;
}

form * {
  display: block;
}

form label {
  font-size: large;
}

form label + input {
  margin-top: 1px;
}

form input {
  margin-bottom: 10px;
}

form button {
  min-height: 30px;
}

form input[type="search"] {
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;
  background-image: url("/search_icon.svg");
  background-repeat: no-repeat;
  background-position: left 5px center;
  background-size: 20px;
}

form button[type="submit"] {
  background-color: rgb(185, 255, 199);
  border-radius: 25px;
}